

<div class="profile">
    <h2>{{name}}</h2>
    <img src={{img_url}} class="profile-img" />
    <p>Species: {{species}}</p>
    <p>Home planet: {{planet}}</p>
    <p class="quote">{{quote}}</p>
</div>
